#game_display {
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;

    /* debugging */
    border-style: solid;

}

.question_answers_options_div {
    height: auto;
    /* debugging
    border-style: solid;
    border-color: blue; */
}

.question_div {
    /* debugging
    border-style: solid;
    border-color: green; */
}
.answers_div {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* debugging
    border-style: solid;
    border-color: green; */
}

.answer_div {
    margin: auto;
    /* debugging
    border-style: solid;
    border-color: blue; */
}

.score_options_div {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* debugging
    border-style: solid;
    border-color: green; */
}

.score_option_div {
    margin: auto;
    /* debugging    
    border-style: solid;
    border-color: blue; */

}

.score_div {
    /* debugging
    border-style: solid;
    border-color: green; */
}

.notification_div {
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 30%;
    height: 15%;
    overflow: auto;
    background-color: #fefefe;
}