.answers_div {
    display: grid;
    /* grid-template-columns: 2fr 1f; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 2fr) minmax(500px, 1fr)); */
}

.score_options_div {
    display: grid;
    /* grid-template-columns: 2fr 1f; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 2fr) minmax(500px, 1fr)); */
}