* {
    margin: 0;
    padding: 0;
    font-family: 'futura';
    font-weight: lighter;
}
html {
    background-image: url('../images/just-waves.png');

}

/* hide scrollbars */
::-webkit-scrollbar {
    display: none;
    }