h1 {
    text-align: center;
    display: block;
    margin: 10px;
}

h2 {
    margin: 10px;
    text-align: center;
}

h3 {
    margin: 5px;
}

p {
    margin: 15px;
    display: block;
}

#game_over_message_paragraph {
    font-style: bold;
}